body {
    background-color: rgba(3, 30, 70, 0.923);
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    text-align: center;
    font-size:25px ;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
.botao {
    color: rgb(235, 232, 232);
    border-width: 2px;
    border-radius: 5px;
    width: 170PX;
    height: 40PX;
    background-color: rgba(27, 84, 164, 0.791);
    cursor: pointer;
    justify-content: center;
}

main {
    background-color: rgb(232, 232, 220);
    border-radius: 8px;
    width:550px;
    margin: auto;
    align-items:flex-start ;
    gap:20px;
    padding: 20px;
    margin-block-end:20px;
   
}

div {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

#foto {
    display: none;
    width: 175px;
    height: auto;
    margin-top: 20px;
    
}

.img{
    display: flex;
    flex-direction:  unset;
}
.sex{
    cursor: pointer;
}

input{
    border-radius: 4px;
}